*{
    font-family: "Montserrat", sans-serif;
    color: #f2f2f2;
}
body{
    background-color: #222831;
    padding: 0; margin: 0;
}
a{
    text-decoration: none;
}

.wrapper{
    max-width: 1200px;
    margin: auto;
}

header{
    height: 50px;
    padding: 10px 0px;
}

h1,h2,h3,h4,h5,h6,
#sitename{
    font-family: "Poppins", sans-serif;
}
#sitename{
    font-size:25px
}
#urlprincipal img{
    width: 50px;
}
#menu-general{
    border-bottom: 2px solid #333941;
}
#menu-general a{
    padding: 10px;
    display: inline-block;
    font-size: 14px;
    transition: all ease-in-out 0.3s;
}
#menu-general a:hover{
    background-color: #333941;
}